.parent{    
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.box{
    
    height: 100px;
    background-color:rgba(255, 209, 6, 0.986);
}
.box_1{
    grid-column: 1/13;
}
.box_2{
    grid-column: 1/7;
}
.box_3{
    grid-column: 7/13;
}
.box_4{
    grid-column: 1/5;
}
.box_5{
    grid-column: 5/9;
}
.box_6{
    grid-column: 9/13;
}
.box_7{
    grid-column: 1/4;
}
.box_8{
    grid-column: 4/7;
}
.box_9{
    grid-column: 7/10;
}
.box_10{
    grid-column: 10/13;
}
.box_11{
    grid-column: 1/3;
}
.box_12{
    grid-column: 3/5;
}
.box_13{
    grid-column: 5/7;
}
.box_14{
    grid-column: 7/9;
}
.box_15{
    grid-column: 9/11;
}
.box_16{
    grid-column: 11/13;
}
.box_17{
    grid-column: 1/2;
}
.box_18{
    grid-column: 2/3;
}
.box_19{
    grid-column: 3/4;
}
.box_20{
    grid-column: 4/5;
}
.box_21{
    grid-column: 5/6;
}
.box_22{
    grid-column: 6/7;
}
.box_23{
    grid-column: 7/8;
}
.box_24{
    grid-column: 8/9;
}
.box_25{
    grid-column: 9/10;
}
.box_26{
    grid-column: 10/11;
}
.box_27{
    grid-column: 11/12;
}
.box_28{
    grid-column: 12/13;
}